.List__container{
    display: flex;
    flex-direction: column;
    width: 435px;
    margin: auto;
}

.List__list{
    display: grid;
    grid-template-columns: repeat(3, 145px);
}

.List__button{
    background-color: rgb(43, 139, 255);
    color: white;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}