.List__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    height: 802px;
    margin: auto;
}

.List__container p{
    margin: 11px;
    padding: 0;
}

.List__list{
    display: grid;
    grid-template-columns: repeat(3, 145px);
}

.List__button{
    background-color: rgb(43, 139, 255);
    color: white;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.List__type-button{
    display: flex;
    cursor: pointer;
    margin: 7px 0px 3px 10px;
    padding: 1px 4px ;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 800px){
    .List__list{
        grid-template-columns: repeat(3, 120px);
        margin: auto;
    }
    .List__container{
        width: 370px;
        height: 700px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .List__list{
        grid-template-columns: repeat(2, 110px);
        margin: auto;
    }
    .List__container{
        width: 290px;
        height: 450px;
        margin: 0;
    }
}