.PokemonCard{
    width: 120px;
    height: 160px;
    padding: 3px;
    border: 1px solid;
    margin: 5px 10px 10px 10px;
    font-weight: 600;
}

.PokemonCard__types{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}

.PokemonCard__types button{
    margin: 7px 0px 3px 2px;
    padding: 0px 3px ;
}

.PokemonCard img{
    height: 96px;
    width: 96px;
    margin: auto;
}