.App {
  text-align: center;
  width: 800px;
  margin: auto;
}


.App__header {
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  border: 1px solid;
  font-size: calc(10px + 2vmin);
}

.App__container{
  display: flex;
  flex-direction: row;
  height: 822px;
}


@media (max-width: 800px){
  .App {
    width: 600px;
  }
  .App__container{
    height: 700px;
  }
}

@media (max-width: 600px) {
  .App{
    width: auto;
    margin: auto;
    padding: 3px;
  }
  .App__header{
    width: 200px;
  }
  .App__container{
    height: 514px;
  }
}