.List__container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    height: 822px;
    margin: auto;
}

.List__container p{
    padding: 0;
}

.List__list{
    display: grid;
    grid-template-columns: repeat(3, 145px);
}

.List__button{
    cursor: pointer;
    background-color: rgb(43, 139, 255);
    color: white;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.List__button[disabled]{
    cursor: auto;
    background-color: grey;
}

.List__type-button-container{
    display: flex;
}

@media (max-width: 800px){
    .List__list{
        grid-template-columns: repeat(2, 150px);
        margin: 0;
    }
    .List__container{
        width: 300px;
        height: 700px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .List__list{
        grid-template-columns: repeat(1, 110px);
        margin: auto;
    }
    .List__container{
        width: 120px;
        height: 514px;
        margin: 0px auto;
    }
}